<div class="pagination">
    <div class="page-list">
        <button (click)="go(current -1)" [disabled]="!hasPrev" class="page prev">prev</button>
        <button class="page" *ngFor="let page of pages" (click)="go(page)" [class.current-page]="isCurrent(page)">{{page}}</button>
        <button (click)="go(current +1)" [disabled]="!hasNext" class="page next">next</button>
    </div>
    <div class="rows">
        <select  [(ngModel)]="pagesize">
            <option [value]="op" *ngFor="let op of pagesizeArray">{{op}}</option>
            
        </select>
        总数{{total}}条，共{{pageCount}}页
        
 
    </div>
</div>
