<div class="col-md-6">
    <div class="form">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">name</span>
            <input type="text" class="form-control" placeholder="name" [(ngModel)]="user.name">
        </div>
        
        <div class="input-group input-group-sm">
            <span class="input-group-addon">age</span>
            <input type="number" class="form-control" placeholder="age" [(ngModel)]="user.age">
        </div>
        
        <div class="input-group input-group-sm">
            <span class="input-group-addon">image</span>
            <input type="text" class="form-control" placeholder="image_url" [(ngModel)]="user.imageUrl">
        </div>
        
        <button class="btn btn-success btn-sm">保存</button>
    </div>
</div>

