<style>
    .sidebar {
        width: 120px;
        float: left;
    }
</style>
<div class="row">
    <p class="header-title">Angular2 demo of kunl</p>
</div>
<nav class="list-group sidebar">
    <a class="list-group-item" [routerLink]='[it.path]' *ngFor="let it of routers"  routerLinkActive="active">{{it.nick}}</a>
</nav>
<div class="container-fluid" style="margin-left: 119px">
    <div class="row">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer></footer>