<header class="header">
	<div class="header-content">
		<h1 class="header-title">Kunl's Angular demo</h1>
		<nav class="navigation">
			<a  href="https://github.com/kunl/ng2" title="github">GitHub</a>
			<a  href="https://kunl.in" title="blog">Blog</a>
			<a  href="https://twitter.com/le720" title="忆年">twitter</a>
		</nav>
	</div>
</header>

<div class="wrap">

	<nav class="sidebar">
		<ul class="side-list list-group">
			<li *ngFor="let it of routers" class="list-group-item">
				<a  [routerLink]='[it.path]' routerLinkActive="active">{{it.nick}}</a>
			</li>
		</ul>
	</nav>

	<div class="content">
		<router-outlet></router-outlet>
	</div>
	
</div>

<footer></footer>
