top_height = 70px
main-color=#369
side_menu_width = 200px

border_color = #ffd5e2
title_color = #353535
font_color = #ff4081
font_family = "Helvetica","Arial",sans-serif

h1 
    color: main-color;
    font-size: 2em;

body
    box-sizing: border-box;
    font-family: font_family;
body, ul, h1, h2, h3, h4
    margin: 0;
    padding: 0;
li
    list-style: none;
a
    color: font_color;

    
.layout-content
    padding-top: top_height;
.header
    height: top_height;
    width: 100%;
    border-bottom: 1px solid border_color;
    background:  #f8f8f8;
    .header-title
        line-height: 2;
        text-indent: side_menu_width;
        display: inline-block;
        color: title_color;
    nav
        margin: 1em;
        float: right;


.sidebar 
    position: fixed;
    top: top_height;
    left: 0;
    bottom: 0;
    width: side_menu_width;
    padding-left: 30px;
    border-right: 1px solid border_color;
    background: #fff;

.side-list
    padding: 10px 0 10px 20px;

    li
        padding: 10px 0;



.wrap 
    min-height: 80vh;
    margin-left: side_menu_width + 10;

.content
    padding: 20px;



.footer 
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
    a
        text-decoration: none;
